{# templates/course/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Courses</h1>
    <a href="{{ path('course_new') }}">Add new course</a>
    <ul>
        {% for course in courses %}
            <li>{{ course.name }} - <a href="{{ path('booking_new', {'courseId': course.id}) }}">Book</a></li>
        {% endfor %}
    </ul>
{% endblock %}
