{% extends 'base.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block body %}
<style>
    .card {
        min-height: 100% !important;
    }
</style>

<div class="container mt-5">
    <h1>Nos Tarifs 2024/2025</h1>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Pole dance (1h30)</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">« Abo annuel classique » 1 cours/semaine (43 cours) : 645 €</li>
                        <li class="list-group-item">« Abonnement annuel+ » 1 activité + 1 cours Souplesse ou Renfort (86 cours) : 900 €</li>
                        <li class="list-group-item">« Abonnement souple » carte 10 cours utilisables sur 1 trimestre* : 180 €</li>
                        <li class="list-group-item">Cours d’essai gratuit si suivi d’une formule (un code vous sera délivré pour le déduire de l’abonnement)</li>
                        <li class="list-group-item">Cours d’essai sans suite ou cours à l’unité : 20 €</li>
                        <li class="list-group-item">Cours Particulier : 40 € de l’heure</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Hammock (1h30)</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">« Abo annuel classique » 1 cours/semaine (43 cours) : 645 €</li>
                        <li class="list-group-item">« Abonnement annuel+ » 1 activité + 1 cours Souplesse ou Renfort (86 cours) : 900 €</li>
                        <li class="list-group-item">« Abonnement souple » carte 10 cours utilisables sur 1 trimestre* : 180 €</li>
                        <li class="list-group-item">Cours d’essai gratuit si suivi d’une formule (un code vous sera délivré pour le déduire de l’abonnement)</li>
                        <li class="list-group-item">Cours d’essai sans suite ou cours à l’unité : 20 €</li>
                        <li class="list-group-item">Cours Particulier : 40 € de l’heure</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Yoga Aérien (1h00)</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">« Abo annuel classique » 1 cours/semaine (43 cours) : 475 €</li>
                        <li class="list-group-item">« Abonnement annuel+ » 1 activité + 1 cours Souplesse ou Renfort (86 cours) ou 2 cours Yoga/semaine : 750 €</li>
                        <li class="list-group-item">« Abonnement souple » carte 10 cours utilisables sur 1 trimestre* : 140 €</li>
                        <li class="list-group-item">Cours d’essai gratuit si suivi d’une formule (un code vous sera délivré pour le déduire de l’abonnement)</li>
                        <li class="list-group-item">Cours d’essai sans suite ou cours à l’unité : 15 €</li>
                        <li class="list-group-item">Cours Particulier : 25 € de l’heure</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Souplesse ou Renforcement seul (1h15)</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">« Abo annuel classique » 1 cours/semaine (43 cours) : 525 €</li>
                        <li class="list-group-item">« Abonnement souple » carte 10 cours utilisables sur 1 trimestre* : 150 €</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Formule Tout Illimité</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Autant de cours que vous le souhaitez : 1200 €</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Modes de règlement</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Pour Abonnement annuel : Comptant, en 3X, en 4X, en 10X, en 12X</li>
                        <li class="list-group-item">Pour Carte 10 Cours : Comptant, en 2X</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
