{% extends 'base.html.twig' %}

{% block title %}Tarifs
{% endblock %}

{% block body %}
	<style>
		.card {
			min-height: 100% !important;
		}
	</style>

	<div class="container tarifs">
		<h1>Tarifs 2024/2025</h1>
		<div class="block">
			<div>
				<h2>Pole dance 2024/2025 (1h30)</h2>
				<ul>
					<li>
						« Abo annuel Pole Dance » 1 cours/semaine (40 cours) :
						<span>☐ 600 €</span>
					</li>
					<li>
						« Abonnement annuel + » 1 cours de Pole Dance + 1 cours yoga (80 cours) :
						<span>☐ 840 €</span>
					</li>
					<li>
						« Abonnement souple » carte 10 cours utilisables sur 1 trimestre* ( à partir du 06/01/2025) :
						<span>☐ 180 €</span>
					</li>
					<li>
						« Abonnement souple » carte 4 cours utilisables jusqu’au 31/12/2024 :
						<span>☐ 72€</span>
					</li>
					<li>Cours d’essai sans suite ou cours à l’unité:
						<span>☐ 20 €</span>
					</li>
					<li>Cours Particulier :
						<span>40 € de l’heure</span>
					</li>
				</ul>
			</div>
			<div>
				<h2>Yoga Aérien 2024/2025 (1h00)</h2>
				<ul>
					<li>
						« Abo annuel Yoga aérien » 1 cours/semaine (40 cours) :
						<span>☐ 440 €</span>
					</li>
					<li>
						« Abonnement annuel + » 2 cours Yoga/semaine :
						<span>☐ 700 €</span>
					</li>
					<li>
						« Abonnement souple » carte 10 cours utilisables sur 1 trimestre* ( à partir du 06/01/2025) :
						<span>☐ 140 €</span>
					</li>
					<li>
						« Abonnement souple » carte 4 cours utilisables jusqu’au 31/12/2024 :
						<span>☐ 56 €</span>
					</li>
					<li>Cours d’essai sans suite ou cours à l’unité:
						<span>☐ 15 €</span>
					</li>
					<li>Cours Particulier :
						<span>25 € de l’heure</span>
					</li>
				</ul>
			</div>
			<div>
				<h2>MIXTE Yoga Aérien / Pole Dance 2024/2025</h2>
				<ul>
					<li>
						« Abonnement annuel + » 2 activités 1 cours par semaine, (20 cours Yoga-20 cours Pole dance) :
						<span>☐ 520 €</span>
					</li>
				</ul>
			</div>
			<div class="mt-4">
				<h2>FORMULE TOUT ILLIMITÉ*² autant de cours que vous le souhaitez :
					<span>☐ 1000 €</span>
				</h2>
			</div>
			<div class="mode_reglement">
				<h3 class="card-title">Modes de règlement</h3>
				<ul class="list-group list-group-flush">
					<li>Pour Abonnement annuel: Comptant ☐ en 3X ☐ en 10X ☐</li>
					<li>Mode de règlement pour Carte 10 Cours : Comptant ☐ en 2 X ☐</li>
					<li>Mode de règlement pour Carte 4 Cours : Comptant ☐</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
