{# templates/booking/new.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réserver un cours</h1>

    {{ form_start(form) }}
        {{ form_row(form.userName) }}
        {{ form_row(form.isRecurrent) }}
        <button class="btn btn-primary">Réserver</button>
    {{ form_end(form) }}
{% endblock %}
