{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Galerie Photos</h1>

		{% if photos|length > 0 %}
			<div id="photoCarousel" class="carousel slide mx-auto w-75" style="max-width: 1200px;">
				<div class="carousel-inner">
					{% for photo in photos %}
						<div class="carousel-item {% if loop.first %}active{% endif %}">
							<img src="{{ asset('uploads/images/' ~ photo.imagePath) }}" class="d-block w-100" alt="{{ photo.title }}">
							<div class="carousel-caption d-none d-md-block">
								<h5>{{ photo.title }}</h5>
							</div>
						</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#photoCarousel" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</a>
				<a class="carousel-control-next" href="#photoCarousel" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</a>
			</div>
		{% else %}
			<p>Aucune photo dans la galerie.</p>
		{% endif %}
		{% if is_granted('ROLE_ADMIN') %}
			<a class="btn btn-info mt-3" href="{{ path('photo_add') }}">Ajouter des photos</a>
		{% endif %}
	</div>
{% endblock %}
