<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav>
        <!-- Votre menu de navigation -->
    </nav>

    {% for message in app.flashes('error') %}
        <div class="flash-error">
            {{ message }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}
    
    {% block javascripts %}{% endblock %}
</body>
</html>
