<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav>
        <!-- Votre menu de navigation -->
    </nav>

    {% for message in app.flashes('error') %}
        <div class="flash-error">
            {{ message }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}
    
    {% block javascripts %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const recurrentCheckbox = document.querySelector('.js-recurrent-checkbox');
                const numOccurrencesContainer = document.getElementById('num-occurrences-container');

                function toggleNumOccurrences() {
                    if (recurrentCheckbox.checked) {
                        numOccurrencesContainer.style.display = 'block';
                    } else {
                        numOccurrencesContainer.style.display = 'none';
                    }
                }

                // Initial state
                toggleNumOccurrences();

                // Event listener
                recurrentCheckbox.addEventListener('change', toggleNumOccurrences);
            });
        </script>
    {% endblock %}
</body>
</html>
