{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente - AIR Studio 73
{% endblock %}

{% block body %}
	<div class="container-cgv content-scrollable">
		<h1>Conditions Générales de Vente - AIR Studio 73</h1>

		<p>Entre : l’entreprise AIR Studio 73 représentée par Carole PERRIER, ci-nommée après le « Prestataire » et le client. Il est convenu et arrêté ce qui suit :</p>

		<h2>Préambule</h2>
		<p>Le Contrat établit les droits et obligations respectifs de AIR Studio 73, et de ses clients dans le cadre de la vente et de la réalisation par AIR Studio 73, de prestations de services d’encadrement, d’enseignement et d’accompagnement dans le cadre d’activités sportives, physiques et de bien-être et notamment de pole dance, et yoga aérien.</p>
		<p>Ces Conditions Générales s’appliquent à tous les Contrats conclus avec les Clients (y compris les Clients Internet).</p>
		<p>Les Parties conviennent que leurs relations seront régies par les présentes Conditions Générales.</p>
		<p>AIR Studio 73 se réserve le droit de modifier à tout moment les présentes Conditions Générales en publiant une nouvelle version sur le Site www.airstudio73.com. Les Conditions Générales sont celles en vigueur sur le Site.</p>
		<p>Les présentes Conditions Générales sont réservées aux seuls consommateurs, au sens qu’en donnent la loi et la jurisprudence, agissant exclusivement pour leur nom et pour leur propre compte. Conformément aux articles L. 111-1 et L. 111-4 du Code de la consommation, les caractéristiques essentielles et les prix des Prestations vendues par voie électronique sont disponibles sur le Site.</p>
		<p>Le professionnel communique également au consommateur les informations relatives à son identité, à ses coordonnées postales, téléphoniques et électroniques et à ses activités, ainsi que, s’il y a lieu, celles relatives aux garanties légales, aux fonctionnalités du contenu numérique et, le cas échéant, à son interopérabilité, à l’existence et aux modalités de mise en œuvre des garanties et aux autres conditions contractuelles, conformément aux articles R. 111-1 et R. 111-2 du Code de la consommation.</p>
		<p>Par ailleurs, le Client reçoit les informations prévues aux articles L. 122-1 et L. 221-11 du Code de la consommation, préalablement et postérieurement à la conclusion de la vente et notamment au moyen des présentes Conditions Générales.</p>
		<p>Le prestataire de services est spécialisé dans la Pole Dance, le Yoga Aérien et les activités de danses aériennes. Le Client est un particulier. Le prestataire propose au client, qu’il accepte aux conditions ci-dessous d’assurer les cours et les stages conformément aux règles définies dans le présent contrat. Les présentes conditions générales de vente s’appliquent à toutes commandes de cours, de stage et de location auprès du Prestataire et ce à partir du 09/09/2024.</p>
		<p>Les parties conviennent que leurs relations seront régies exclusivement par le présent contrat. Le client reconnait avoir, préalablement à la passation de l’achat, pris connaissance de l’ensemble des informations précisées et des conditions générales de vente.</p>

		<h2>Article 1 : Définitions</h2>
		<p>Les termes et expressions visés ci-après signifient, lorsqu’ils sont précédés d’une lettre majuscule, pour les besoins de l’interprétation et de l’exécution des présentes :</p>
		<ul>
			<li>
				<strong>« Abo annuel Classique »</strong>
				: Engagement par lequel le Client achète la possibilité de réserver un Cours par semaine, dans la limite des places disponibles. Le Client s’engage 11 mois, à raison d’une moyenne de 4 semaines par mois, soit 44 semaines à l’année. Le Studio se réserve donc le droit de mettre ses activités en suspend 7 semaines par an et s’engage à tenir ses Clients informés des dates de celles-ci au minimum 6 mois à l’avance. Le Contrat d’engagement du Client est strictement personnel, non cessible à un tiers, non résiliable et non remboursable sous aucune condition que ce soit. Seule la présentation d’un justificatif médical ou en cas de force majeure, permet un report de validité de l’Abonnement de la durée indiquée par le justificatif. En cas de Contrat par prélèvement automatique, ceux-ci ne sont pas interrompus.</li>
			<li>
				<strong>« Abonnement annuel + »</strong>
				: Engagement par lequel le Client achète la possibilité de réserver un cours technique + un cours « renfort ou souplesse » par semaine, pour la Pole Dance et le Hammock ou 2 cours par semaine de yoga aériens, dans la seule limite des places disponibles. Le Client s’engage 11 mois, à raison d’une moyenne de 4 semaines par mois, soit 44 semaines à l’année. Le Studio se réserve donc le droit de mettre ses activités en suspend 7 semaines par an et s’engage à tenir ses Clients informés des dates de celles-ci au minimum 6 mois à l’avance. Le Contrat d’engagement du Client est strictement personnel, non cessible à un tiers, non résiliable et non remboursable sous aucune condition que ce soit. Seule la présentation d’un justificatif médical ou en cas de force majeure, permet un report de validité de l’Abonnement de la durée indiquée par le justificatif. En cas de Contrat par prélèvement automatique, ceux-ci ne sont pas interrompus.</li>
			<li>
				<strong>« Formule Tout Illimité »</strong>
				: Engagement par lequel le Client achète la possibilité de réserver un ou plusieurs cours par semaine, dans toutes les disciplines proposées, dans la limite des places disponibles. Le Client s’engage 11 mois, à raison d’une moyenne de 4 semaines par mois, soit 44 semaines à l’année. Le Studio se réserve donc le droit de mettre ses activités en suspend 7 semaines par an et s’engage à tenir ses Clients informés des dates de celles-ci au minimum 6 mois à l’avance. Le Contrat d’engagement du Client est strictement personnel, non cessible à un tiers, non résiliable et non remboursable sous aucune condition que ce soit. Seule la présentation d’un justificatif médical ou en cas de force majeure, permet un report de validité de l’Abonnement de la durée indiquée par le justificatif. En cas de Contrat par prélèvement automatique, ceux-ci ne sont pas interrompus.</li>
			<li>
				<strong>« Carte de cours »</strong>
				: Aussi appelées « Abonnement souple », il s’agit d’une Carte virtuelle (payée par le Client en une ou deux fois) composée de 10 Cours. La Carte Virtuelle à une durée de validité de 1 trimestre (défini dans les tarifs du site). Seule la présentation d’un justificatif médical ou en cas de force majeure, permet un report de validité de la Carte de la durée indiquée par le justificatif. Une carte de cours est strictement personnelle, non cessible à un tiers, non résiliable et non remboursable sous aucune condition que ce soit.</li>
			<li>
				<strong>« Commande »</strong>
				: Commande de Cours réalisée par le Client auprès du Prestataire. La Commande peut s’effectuer via le Site en ligne ou au Studio.</li>
			<li>
				<strong>« Conditions Générales »</strong>
				: les conditions générales qui font l’objet des présentes.</li>
			<li>
				<strong>« Contrat »</strong>
				: le présent acte, y compris son préambule et ses annexes ainsi que tout amendement, substitution, extension ou renouvellement intervenu aux présentes en vertu de la convention des parties.</li>
			<li>
				<strong>« Client »</strong>
				: une personne physique consommateur ayant la capacité de contracter et à qui le Studio fournit une prestation de services d’encadrement et d’accompagnement dans le cadre d’activités sportives, physiques et de bien-être et notamment la pole dance, le Yoga Aérien et le Hammock.</li>
			<li>
				<strong>« Cours »</strong>
				: activités proposées à la vente. Les Cours sont proposés à l’achat sous forme de Carte de cours (« Formules Souple ») et/ou sous forme d’Abonnement. Les Cours peuvent correspondre à une prestation d’1 heure ou d’1h30. Dans le cas où le client possède une Carte de Cours ou un Abonnement, il peut réserver le cours de son choix dans le planning du Studio.</li>
			<li>
				<strong>« Studio(s) »</strong>
				: Indistinctement Air Studio 73, ainsi que le(s) lieu(x) où se déroulent les Cours.</li>
			<li>
				<strong>« Formule »</strong>
				: Terme qui regroupe usuellement l’ensemble des produits proposés par le Studio et disponibles à la vente. Il peut s’agir de Cours à l’unité, de Cartes de cours aussi dénommées Formules Souple, ou d’Abonnements tels qu’ils ont été définis dans les Conditions générales ci-présentes.</li>
			<li>
				<strong>« Inscription »</strong>
				: adhésion à un ou plusieurs Cours et/ou à une Carte de cours et/ou à un Abonnement après Validation de la Commande.</li>
			<li>
				<strong>« Intervenant »</strong>
				: professionnel expérimenté dispensant les Cours.</li>
			<li>
				<strong>« Prix »</strong>
				: la valeur unitaire d’un Cours ; cette valeur s’entend toutes taxes comprises et hors Frais de Livraison.</li>
			<li>
				<strong>« Prix Total »</strong>
				: le montant total des Prix cumulés des Cours qui font l’objet de la Commande ; ce montant s’entend toutes taxes comprises.</li>
			<li>
				<strong>« Site »</strong>
				: site « www.airstudio73.com » utilisé par le Prestataire pour la commercialisation de Cours et la transmission d’informations relatives au Studio, aux disciplines enseignées, à l’actualité dans ces domaines ou toute autre information s’y rapportant.</li>
			<li>
				<strong>« Validation de la Commande »</strong>
				: a le sens donné à l’Article 4.</li>
			<li>
				<strong>« Prestataire »</strong>
				: Air Studio 73 ; représenté par Carole PERRIER.</li>
			<li>
				<strong>« Vente en Ligne »</strong>
				: commercialisation des Cours du Studio via le Site.</li>
		</ul>

		<h2>Article 2 : Objet et champ d’application</h2>
		<p>Le présent Contrat a pour objet de définir les droits et obligations des Parties, les modalités d’inscription à l’Ecole, la vente et le déroulement des Cours.</p>
		<p>Les Cours comprennent l’intervention d’un professionnel expérimenté qui en assure le bon déroulement, conformément aux règles de l’art en apportant toute la disponibilité et le professionnalisme nécessaire.</p>

		<h2>Article 3 : Entrée en vigueur et Durée</h2>
		<p>Le présent Contrat entre en vigueur à la date de Validation de la Commande telle que définie aux Articles 4 & 5.</p>
		<p>Le Contrat est conclu jusqu’à l’extinction des garanties et obligations dues respectivement par le Prestataire et le Client.</p>

		<h2>Article 4 : La commande des cours, prix et modalités de règlement</h2>
		<p>
			<strong>4.1. La commande :</strong>
			Toute Commande constitue la formation d’un contrat conclu entre le Client et le Studio. Lors de la Commande, le Client s’engage à remplir le formulaire d’inscription, transmettre au Studio l’ensemble des documents nécessaires à l’établissement de son Contrat. Le Client s’engage notamment à fournir un certificat médical attestant de sa capacité à suivre les Cours dans le mois qui suit son 1<sup>er</sup>
			cours.</p>
		<p>
			<strong>4.2. Commande en ligne :</strong>
			Le Client pourra effectuer une Commande en ligne pour l’achat de Cours vendus à l’unité et/ou de Carte de cours(s) et/ou d’Abonnements. Afin de réaliser la Commande, le Client devra obligatoirement suivre les étapes suivantes :</p>
		<ul>
			<li>Composer l’adresse du Site ;</li>
			<li>Suivre les instructions du Site et en particulier, les instructions nécessaires à l’ouverture d’un compte client ;</li>
			<li>Le Client devra sélectionner le(s) Produit(s) à acheter (il sera rappelé que le Client sera redirigé vers une plateforme de réservation et de règlement en ligne sécurisée).</li>
		</ul>
		<p>Il est rappelé que le Client a la possibilité de vérifier le détail de sa Commande, son prix total et de corriger d’éventuelles erreurs avant de confirmer son acceptation (article 1127-2 du Code Civil). Cette validation implique l’acceptation de l’intégralité des présentes Conditions Générales et constitue une preuve du contrat de vente.</p>
		<p>Il appartient donc au Client de vérifier l’exactitude de la Commande et de signaler immédiatement toute erreur.</p>
		<p>La Commande sera validée définitivement à compter du paiement intégral du prix.</p>
		<p>Le Client reçoit ensuite par voie électronique et sans délai une confirmation d’acceptation de paiement de la Commande. Toutefois, conformément à l’article L. 122-1 du Code de la consommation, le Vendeur se réserve le droit de refuser la Commande si elle est anormale, passée de mauvaise foi ou pour tout autre motif légitime, et en particulier, lorsqu’il existe un litige avec le Client concernant le paiement d’une commande antérieure.</p>
		<p>
			<strong>4.3. Commande au Studio :</strong>
			Le Client pourra également effectuer une Commande de Cours à l’unité et/ou sous forme de Carte de cours et/ou sous forme d’Abonnement au sein du Studio, sur place ou par voie de correspondance papier ou électronique, en fonction de la Commande réalisée, après avoir effectué un cours d’essai, accepté les présentes Conditions Générales, rempli un formulaire d’inscription et prépayé son inscription par l’un des moyens de paiement suivants : chèque, espèces ou virement mensuel. Quel que soit le moyen de paiement choisi, les conditions générales de vente sont disponibles sur le site ou sur papier.</p>
		<p>
			<strong>4.4. Cours, Carte de cours et Abonnements :</strong>
			Les Cours, Carte de cours et Abonnements sont purement personnels et nominatifs. Ils ne sauraient être cédés, donnés ou vendus pour quelque raison que ce soit.</p>
		<p>
			<strong>4.5. Participant mineur :</strong>
			Lorsque le Participant est mineur (ou sous tutelle), son inscription ne pourra être définitive qu’après autorisation de son représentant légal dûment remplie dans le formulaire d’inscription. Le Participant ne pourra quitter le Studio seul que si le représentant légal a signé une autorisation spécifique ou s’il l’a autorisé dans le formulaire d’inscription.</p>
		<p>
			<strong>4.6. Règlement par prélèvement :</strong>
			Dans l’hypothèse où le Client sollicite un règlement par prélèvement et/ou en plusieurs fois, le Client s’engage d’ores et déjà à régler la totalité de sa Commande. En cas d’impossibilité médicale visée à l’article 6 ci-dessous, le Client pourra voir sa Carte de cours et/ou son Abonnement prorogée d’une durée égale à la durée de l’arrêt maladie transmis au Studio (et éventuelles prolongations) à raison d’une prorogation par Formule en cours de validité, mais ne sera en aucun cas remboursée, ni les prélèvements arrêtés.</p>
		<p>
			<strong>4.7. Moyens de paiement :</strong>
			Le Client (ou indistinctement son représentant légal) garantit au Prestataire qu’il détient toutes les autorisations requises pour utiliser le(s) moyen(s) de paiement choisi(s). Le paiement du Prix s’effectue Tout Compris. Dans le cas où le débit du Prix Tout Compris serait impossible, la Vente serait immédiatement résiliée de plein droit et la Commande serait annulée. Le Prestataire met en œuvre tous les moyens pour assurer la confidentialité et la sécurité des données financières et personnelles des Clients transmises sur le Site.</p>
		<p>Les prix en vigueur sont les prix affichés sur le site internet du prestataire. Le prestataire se donne le droit de modifier ses prix à tout moment. Les prestations déjà commandées et payées avant une modification de prix ne ressentiront pas les changements que ce soit à la hausse ou à la baisse.</p>

		<h2>Article 5 : Prix des Cours et Conditions de Validité</h2>
		<p>Au moment de la Validation de la Commande sur le site ou au sein du Studio, le prix à payer s’entend du Prix Tout Compris.</p>
		<p>Des Prix spécifiques seront appliqués pour certains Cours, Cours spécifiques, stages et Workshops. Ces Prix spécifiques seront toujours portés à la connaissance du Client avant toute Commande.</p>
		<p>De même, la durée de validité des Cours, Cartes de Cours et/ou Abonnements est portée à la connaissance du Client avant toute commande, elle est également rappelée au Client lors de la transaction et dans les présentes conditions de vente. Elle ne peut être modifiée pour d’autres raisons que médicales ou en cas de force majeure, sous réserve de présentation par le Client d’un justificatif rédigé par un professionnel habilité. Dans le cas où le Client serait contraint de suspendre sa participation aux Cours pour raisons médicales, il devra faire parvenir au Studio par mail un justificatif médical indiquant la durée de l’arrêt. Le Studio s’engage alors à lui reporter la validité de sa formule de la durée indiquée sur le justificatif.</p>

		<h2>Article 6 : Inscription(s) aux Cours et déroulement des Cours</h2>
		<p>
			<strong>6.1. Réservation :</strong>
			La réservation d’un Cours est réalisée au minimum 6 heures avant le début du Cours, et ce, dans la limite des places disponibles. Une confirmation de réservation est envoyée au Client par courriel et/ou directement accessible sur l’interface de réservation des Cours.</p>
		<p>Dans le cas où le nombre de réservations pour un Cours serait inférieur à 2, le Studio se réserve le droit de ne pas assurer le Cours. Le Client en sera alors informé par mail au minimum 4 heures avant le début du cours et se verra automatiquement recrédité un cours.</p>
		<p>
			<strong>6.2. Déroulement des Cours :</strong>
			Le Client et/ou le Participant est tenu de respecter les horaires prévus pour les Cours. A cet effet, des plannings de Cours sont mis à disposition des Clients sur le Site et/ou au sein du Studio. Le Participant au Cours pourra se voir refuser l’accès à celui-ci pour tout retard excédant 15 minutes, l’échauffement préalable à un cours étant indispensable pour des raisons de sécurité. Aucun remboursement de Commande ne pourra être effectué dans cette hypothèse.</p>
		<p>Après réservation d’un cours, le Client aura la faculté d’annuler celle-ci au plus tard 6 heures avant le début du Cours. L’annulation sera réalisée via le Site pour les personnes ayant un compte. Pour les personnes n’ayant pas de compte, l’annulation par courriel et/ou appel téléphonique sera prise en compte si cette information intervient dans le délai de 6 heures avant le début du cours. Toute annulation en deçà de ce délai ne sera pas prise en compte, sauf dans le cas d’un accident sur le trajet qui sera considéré en cas de force majeure.</p>
		<p>En cas de retard de l’Intervenant, le Cours sera prolongé au prorata du temps d’absence de l’Intervenant dans la mesure où le planning le permet.</p>
		<p>Certains cours peuvent être supprimés jusqu’à 4h avant leur horaire si le nombre de Participants est jugé insuffisant.</p>
		<p>En cas d’annulation d’un Cours du fait du Studio et/ou de l’Intervenant, le Client sera informé dans les plus brefs délais de l’annulation avant le début dudit Cours par courriel ou sms, et la Carte de cours du Client sera recréditée du montant dudit Cours. Dans l’hypothèse d’un Cours acheté sans Carte de cours, le Client pourra procéder à la réservation d’un nouveau Cours.</p>
		<p>Le Studio ne pourra être tenu responsable pour le retard de l’exécution des Cours en cas de force majeure telles que les catastrophes d’origine atmosphérique, un accident survenu sur le trajet de l’Intervenant ou tout autre cas de force majeure.</p>
		<p>Le Client et/ou le Participant s’engage à adopter une tenue correcte et un comportement courtois. Le comportement jugé incorrect – par le Studio – d’un client et/ou Participant ne saurait engager la responsabilité du Studio.</p>
		<p>Le Client et/ou le Participant déclare être en bonne santé physique et mentale et devra envoyer à l’adresse email airstudio.73@gmail.com ou remettre en main propre, un certificat médical indiquant qu’il ne présente pas de contre-indication médicale à la pratique des activités dispensées dans les Cours. La responsabilité du Studio ne saurait être engagée en cas de non présentation dudit certificat. Le Client à un délais de 1 mois à compter de son 1<sup>er</sup>
			Cours pour fournir ce certificat médical.</p>

		<h2>Article 7 : Confidentialité</h2>
		<p>Le prestataire s’engage à considérer comme strictement confidentielle et s’interdit en conséquence de communiquer à quiconque, tout ou partie des informations privées et personnelles, données, qui leur auront été communiquées par le client. La présente obligation perdurera pendant toute l’exécution du présent contrat et pendant une durée supplémentaire de deux ans à compter de son terme et ce pour quelque raison que ce soit.</p>
		<p>L’obligation de confidentialité visée plus haut ne s’applique pas :</p>
		<ul>
			<li>Pour le cas où le prestataire aurait besoin de justifier auprès de l’administration fiscale les écritures passées en exécution des présentes.</li>
			<li>À la communication du présent contrat et de ses annexes, aux avocats, aux experts comptables et aux Commissaires aux comptes des parties, ceux-ci étant soumis au secret professionnel à l’égard de leur client.</li>
			<li>Si la communication du présent contrat et de ses annexes est directement dictée par l’application de celui-ci rendue nécessaire pour faire valoir des droits en justice.</li>
		</ul>
		<p>Le présent contrat n’empêche pas le prestataire de conclure des accords semblables avec d’autres tiers ayant des activités similaires ou différentes.</p>

		<h2>Article 8 : Responsabilité</h2>
		<p>Le prestataire est responsable de la bonne gestion des prestations données. Pour autant, son obligation n’est qu’une obligation de moyens et non de résultat.</p>
		<p>Le prestataire n’est pas responsable des dommages indirects, même au cas où le prestataire aurait eu connaissance de la possibilité de la survenance de tels dommages, et ce même découlant d’une faute du prestataire ou d’une faute dans la réalisation de la prestation au titre du présent contrat.</p>
		<p>Le client reconnait avoir lu et accepté les impératifs, risques et mises en garde liés à la pratique de la pole dance, définis sur le site. Afin de prévenir le risque de blessures, il s’engage à respecter les horaires, les règles de sécurité, le contenu du cours, les consignes du coach et les autres participants. Pour la sécurité du client, il sera demandé une attestation médicale pour l’aptitude à la pratique des activités de danse aérienne. En cas de grossesse et de problèmes de santé il est demandé au client de parler des problèmes de santé qui peuvent entrer en considération dans la pratique d’une activité physique et sportive au prestataire.</p>
		<p>Sans présentation d’attestation médicale pour l’aptitude de la pole-dance/danse aériennes, ou yoga aérien à la souscription du contrat, il ne sera d’aucune façon possible de demander un remboursement, un échange, une suspension ou don à une tierce personne en cas d’inaptitude décelée après la souscription du contrat, même sur présentation d’un certificat médical.</p>
		<p>Il est demandé à chacun de travailler en binôme et de se « parer » mutuellement.</p>
		<p>En cas de souci reporté par plusieurs clients (et au-delà de 3) sur le comportement d’une élève, le prestataire peut exclure un Client du Studio pour non-respect des mesures.</p>
		<p>Afin que tous les participants s’expriment sans être distraits ou intimidés, les spectateurs (familles, amis(ies), mari(e), enfants…ne sont pas acceptés en cours)</p>
		<p>En cas de dégradation du matériel ou locaux du prestataire, par le client, ce dernier engage sa responsabilité pour le remboursement total ou partiel ou réparation totale ou partielle, selon appréciation du prestataire.</p>

		<h2>Article 9 : Durée du contrat</h2>
		<p>Le présent contrat prend effet dès l’achat d’une prestation auprès du prestataire dont la durée est définie sur le site internet. Aucun report ou modification de la validité de la prestation.</p>

		<h2>Article 10 : Résiliation et fin de contrat</h2>
		<p>En cas de refus de paiement, de non-paiement ou en cas de non-respect de l’une des clauses du présent contrat, le prestataire adressera une lettre de mise en demeure par lettre recommandée. Sans exécution par le débiteur dans un délai de 10 jours, le prestataire pourra alors résilier de plein droit le présent contrat et exiger le paiement de toute somme due au titre du contrat, le versement de pénalités telles que définies ci-dessous, sans préjudice de tous dommages et intérêts.</p>
		<p>Les pénalités dont serait redevable le client au titre de sa non-exécution seront égales à 20% de leur valeur du contrat.</p>
		<p>Aucune résiliation de la prestation ne sera possible, ni échange avec une tierce personne, sauf cas exceptionnels (handicap, blessure grave, déménagement survenant pendant la durée de la prestation), à conditions de présenter des justificatifs (quittance de loyer, carte d’invalidité). Le versement du paiement de la prestation pourra être suspendu en cas de grossesse ou blessures physiques graves.</p>
		<p>Aucun remboursement partiel ou total de la prestation en cas d’abandon du client pour raisons personnelles.</p>

		<h2>Article 11 : Annulation</h2>
		<p>Après l’achat et la réservation d’une prestation, il est possible d’annuler jusqu’à 6h avant l’heure de la prestation sur le site dans la rubrique réservation. Après ce délai, le montant du cours est redevable dans sa totalité et décompté de la carte de cours ou de l’abonnement. Toute absence lors d’une prestation réservée n’est pas remboursable, sur la carte de cours ou abonnement y compris. Report possible de la prestation sur justificatif médical, professionnel, ou de transports en commun, daté du jour de l’absence et transmis au prestataire dans les 3 jours de l’absence.</p>
		<p>Aucun remboursement ni total ni partiel ne sera envisagé en cas de retard de la part de l’élève et/ou en cas de refus par le prestataire.</p>

		<h2>Article 12 : Cession du contrat</h2>
		<p>Les deux parties s’interdisent expressément de céder le présent contrat en tout ou en partie, à titre onéreux ou gratuit, sous quelque forme que ce soit, ou d’en sous-traiter l’exécution totale ou partielle à un tiers.</p>

		<h2>Article 13 : Modification du planning</h2>
		<p>Des modifications de planning peuvent être opérées chaque année. Le prestataire se réserve le droit de changer le planning en fonction des besoins des participants et en accord avec les autres participants du même cours. A moins de 2 élèves inscrits pour un cours celui-ci pourra se voir annulé.</p>

		<h2>Article 14 : Moyens de paiement acceptés</h2>
		<p>Les moyens de paiement acceptés sont les suivants :</p>
		<ul>
			<li>Au comptant dans la totalité de la somme en une seule fois le jour de souscription.</li>
			<li>Paiement par échéances.</li>
			<li>Carte bancaire (CB) sur le site.</li>
			<li>Chèques.</li>
			<li>Virement mensuel ou espèces au sein du Studio.</li>
		</ul>
	</div>
{% endblock %}
